@import './../../styles/variables';

.root {
  margin-top: $margin-section;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image {
    width: 465px;
    height: 674px;
  }

  .catalog {
    margin-left: 55px;
    width: 712px;
    height: 594px;

    .title {
      font-weight: 700;
      font-size: 40px;
      line-height: 125%;
      color: $color-text-black;
    }

    .description {
      margin-top: 32px;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: $text-color-description;
    }

    .catalogItems {
      margin-top: 48px;
      width: 712px;
      height: 368px;
    }
  }
}

.catalogItem {
  margin-top: 24px;
  width: 712px;
  height: 64px;
  padding: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 4px;

  cursor: pointer;

  .leftConteiner {
    display: flex;
    align-items: start;
    gap: 24px;
  }

  .titleConteiner {
    margin-top: 25px;
  }

  .catalogTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
  }
}

.panelOpen {
  margin-top: 24px;
  width: 712px;
  height: 104px;
  padding: 12px;

  display: flex;
  justify-content: space-between;
  align-items: start;

  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 4px;

  cursor: pointer;

  .leftConteiner {
    display: flex;
    align-items: start;
    gap: 24px;
  }

  .titleConteiner {
    margin-top: 4px;
  }

  .catalogTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
  }

  .panelDescription {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $text-color-description;
  }
}
