@import '../../styles/variables';

.root {
  margin-top: $margin-section;
  min-height: 570px;
}

.flexContainer {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  max-width: 712px;
  min-height: 570px;

  h1 {
    @include titleBlack1;
  }

  .contentText {
    margin-top: 32px;
    @include textGray1;
  }

  @media (max-width: 1240px) {
    & {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1,
      p {
        text-align: center;
      }
    }
  }
}

.list {
  margin-top: 48px;
  max-width: 569px;
  min-height: 172px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 425px) {
    margin-left: 50px;
  }
}

.listItem {
  max-width: 257px;
  min-height: 36px;
  display: flex;
  align-items: center;

  p {
    @include titleGray1;
    margin-left: 16px;
  }

  &:nth-child(1),
  &:nth-child(3),
  &:nth-child(5) {
    margin-right: 55px;
  }
}

.button {
  margin-top: 50px;
  padding: 0 30px;
  max-width: 526px;
  min-height: 56px;
}

.image {
  width: 504px;
  height: 570px;

  @media (max-width: 415px) {
    width: 304px;
    height: 370px;
  }
}
