//colors
$black: #232323;
$white: #fff;
$background-header: linear-gradient(90deg, #4f6722 30.73%, #84a44a 100%);
$background-radial-black: radial-gradient(
  100% 374.61% at 0% 0%,
  #3d3d3d 0%,
  #0f0f0f 42.19%
);
$color-orange: #ff9300;

//text
$font-family: 'Inter', sans-serif;
$color-text-black: #15132a;
$color-text-white: #fff;
$text-color-description: rgba(21, 19, 42, 0.75);

//element
$border: 1px solid rgba(0, 0, 0, 0.13);
$border2: 1.5px solid rgba(0, 0, 0, 0.13);
$border-grey: 1px solid rgba(255, 255, 255, 0.25);

//margin
$margin-section: 72px;
$margin32: 32px;

//mixin

@mixin title1() {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
}

@mixin title2() {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
}

@mixin title3() {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

@mixin titleWhite1() {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  color: $color-text-white;
}

@mixin titleWhite2() {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: $color-text-white;
}

@mixin titleWhite3() {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: $color-text-white;
}

@mixin titleMobilWhite3() {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: $color-text-white;
}

@mixin titleBlack1() {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: $color-text-black;
}

@mixin titleBlack2() {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: $color-text-black;
}

@mixin titleBlack3() {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: $color-text-black;
}

@mixin titleGray1() {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: $text-color-description;
}

@mixin textGray1() {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: $text-color-description;
}

@mixin textGray2() {
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: rgba(21, 19, 42, 0.5);
}

@mixin textWhite1() {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: $color-text-white;
}

@mixin textWhite2() {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: $color-text-white;
}

@mixin textBlack1() {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-text-black;
}

@mixin text1() {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

@mixin text2() {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
