@import '../../styles/variables';

.root {
  margin-top: $margin-section;
  height: 622px;
  background: $background-radial-black;
}

.formContainer {
  padding-top: $margin-section;
  margin: 0 auto;
  width: 1024px;
  height: 478px;

  h1 {
    @include titleWhite1;
    text-align: center;
  }
}

.inputs {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.textArea {
  margin-top: 32px;
  display: flex;
  flex-direction: column;

  label {
    @include titleWhite2;
  }

  textarea {
    margin-top: 8px;
    height: 144px;
    border-radius: 8px;
    @include textGray2;
    padding: 8px 16px;
  }
}

.button {
  margin-top: $margin32;
  display: flex;
  justify-content: center;
}
