@import '../../styles/variables';

.root {
  height: 152px;
  max-width: 100%;
  background: $background-header;
  // background-image: url('../../assets/background/Background.png');
  background-size: cover;
}

.wrapper {
  margin: 0 auto;
  max-width: 1242px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;

  @media (max-width: 1229px) {
    & {
      flex-wrap: wrap;
      justify-content: center;
      gap: 32px;
    }
  }

  @media (max-width: 425px) {
    padding-left: 20px;
  }
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.logoText {
  font-family: 'Segoe Script';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
  color: $white;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
}

.contactText {
  a {
    color: $color-text-white;
    margin-left: 12px;
    font-family: $font-family;
  }
}
