@import '../../styles/variables';

.root {
  height: 744px;
  max-width: 100%;
  //   background-color: $background;
  background-image: url('../../assets/background/Background.png');
  background-size: cover;
}

.wrapper {
  margin: 0 auto;
  max-width: 1232px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 104px;
}

.logoItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoTitle {
  color: $color-text-white;
  margin-left: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
}

.contacts {
  display: flex;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
}

.contactText {
  color: $color-text-white;
  margin-left: 12px;
  font-family: $font-family;
}

.contentText {
  width: 608px;
  height: 518px;
  margin: 80px 104px;
}

.contentTitle {
  font-family: $font-family;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-transform: uppercase;
  color: $color-text-white;
}

.contentDescription {
  margin-top: 32px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.75);
}

.contentButtons {
  margin-top: 32px;
}

.contenBtnWork {
  width: 269px;
  height: 56px;
  background: $color-orange;
  border-radius: 64px;
  border: none;

  color: $color-text-white;
  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:active {
    transform: translateY(3px);
  }
}

.contentBtnBild {
  margin-left: 24px;
  width: 211px;
  height: 56px;
  background: transparent;
  border-radius: 64px;
  border: 1px solid #fff;

  color: $color-text-white;
  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:active {
    transform: translateY(3px);
  }
}

.contentInfo {
  width: 100px;
  height: 120px;

  h1 {
    font-family: $font-family;
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    text-transform: uppercase;
    color: $color-text-white;
  }
}
