@import '../../styles/variables';

.root {
  height: 744px;
  max-width: 100%;
  //   background-color: $background;
  background-image: url('../../assets/background/Background.png');
  background-size: cover;

  @media (max-width: 1240px) {
    height: auto;
    min-height: 744px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1242px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;

  // @media (max-width: 1240px) {
  //   & {
  //     padding: 0 200px;
  //   }
  // }

  @media (max-width: 1229px) {
    & {
      padding-top: $margin32;
      flex-wrap: wrap;
      justify-content: center;
      gap: 32px;
    }
  }

  @media (max-width: 425px) {
    padding-left: 20px;
  }
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
}

.contactText {
  a {
    color: $color-text-white;
    margin-left: 12px;
    font-family: $font-family;
  }
}

.content {
  display: flex;
  margin-top: 48px;

  @media (max-width: 1240px) {
    & {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

.contentText {
  max-width: 608px;
  min-height: 518px;
  margin-right: 114px;

  @media (max-width: 1240px) {
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0;
    }
  }

  @media (max-width: 425px) {
    max-width: 268px;
  }
}

.contentTitle {
  max-width: 608px;
  font-family: $font-family;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-transform: uppercase;
  color: $color-text-white;
}

.contentDescription {
  margin-top: 32px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.75);

  // @media (max-width: 425px) {
  //   & {
  //     @include titleMobilWhite3;
  //   }
  // }
}

.contentButtons {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.contenBtnWork {
  width: 269px;
  height: 56px;
  background: $color-orange;
  border-radius: 64px;
  border: none;

  color: $color-text-white;
  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:active {
    transform: translateY(3px);
  }
}

.contentBtnBild {
  margin-left: 24px;
  width: 211px;
  height: 56px;
  background: transparent;
  border-radius: 64px;
  border: 1px solid #fff;

  color: $color-text-white;
  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:active {
    transform: translateY(3px);
  }
}

.contentInfo {
  width: 100px;
  height: 120px;

  h1 {
    font-family: $font-family;
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    text-transform: uppercase;
    color: $color-text-white;
  }
}

.contentImg {
  img {
    width: 520px;
    height: 670px;

    // position: relative;
    // top: 100px;

    @media (max-width: 425px) {
      width: 320px;
      height: 470px;
    }
  }

  @media (max-width: 1240px) {
    & {
      margin-top: $margin32;
    }
  }
}
