@import '../../styles/variables';

.root {
  background: $background-header;
  height: 608px;

  @media (max-width: 1240px) {
    height: auto;
    min-height: 590px;
  }
}
.content {
  display: flex;

  @media (max-width: 1240px) {
    & {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

.contentText {
  max-width: 608px;
  min-height: 518px;
  margin-right: 104px;
  padding-top: 47px;

  @media (max-width: 1240px) {
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0;
    }
  }

  @media (max-width: 425px) {
    max-width: 268px;
  }
}

.contentTitle {
  max-width: 608px;
  font-family: $font-family;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-transform: uppercase;
  color: $color-text-white;
}

.contentDescription {
  margin-top: 32px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.75);

  // @media (max-width: 425px) {
  //   & {
  //     @include titleMobilWhite3;
  //   }
  // }
}

.contentButtons {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.contenBtnWork {
  width: 269px;
  height: 56px;
  background: $color-orange;
  border-radius: 64px;
  border: none;

  color: $color-text-white;
  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:active {
    transform: translateY(3px);
  }
}

.contentBtnBild {
  margin-left: 24px;
  width: 211px;
  height: 56px;
  background: transparent;
  border-radius: 64px;
  border: 1px solid #fff;

  color: $color-text-white;
  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:active {
    transform: translateY(3px);
  }
}

.contentInfo {
  width: 100px;
  height: 120px;

  h1 {
    font-family: $font-family;
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    text-transform: uppercase;
    color: $color-text-white;
  }
}

.contentImg {
  .image {
    animation: slide 10.1s ease-in-out infinite;
    // animation-fill-mode: none;
    // animation-delay: 1s;

    @media (max-width: 1240px) {
      width: 100%;
    }
  }

  @media (max-width: 1240px) {
    & {
      margin-top: $margin32;
    }
  }
}

@keyframes slide {
  // 0% {
  //   opacity: 0;
  //   transform: translateX(0%);
  // }

  // 15% {
  //   opacity: 1;
  //   transform: translateX(0%);
  // }
  // 50% {
  //   opacity: 1;
  //   transform: translateX(0%);
  // }

  // 75% {
  //   opacity: 1;
  //   transform: translateX(0%);
  // }

  // 95% {
  //   opacity: 0;
  //   transform: translateX(30%);
  // }

  // 100% {
  //   opacity: 0;
  //   transform: translateX(30%);
  // }
  0% {
    opacity: 0;
    transform: translateX(0%);
  }

  15% {
    opacity: 1;
    transform: translateX(0%);
  }

  50% {
    opacity: 1;
    transform: translateX(0%);
  }

  85% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(30%);
  }
}
