@import '../../styles/variables';

.root {
  position: relative;

  width: 400px;
  height: 260px;

  border-radius: 8px;
  overflow: hidden;
}

.image {
  height: 260px;
  width: 400px;
  vertical-align: bottom;
}

.title {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 48px;
  padding-top: 9px;

  background: rgba(0, 0, 0, 0.75);
  @include titleWhite3;
  text-align: center;

  opacity: 0.8;

  &:first-letter {
    text-transform: capitalize;
  }
}
