@import '../../styles/variables';

.root {
  min-height: 349px;
  background: #040404;
}

.container {
  padding-top: $margin-section;
  max-width: 1064px;
  min-height: 205px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  padding-top: 32px;
  @include titleWhite2;

  @media (max-width: 425px) {
    text-align: center;
  }
}

.contacts {
  margin-top: $margin32;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.contact {
  display: flex;

  p {
    a {
      margin-left: 12px;
      @include titleWhite3;
    }
  }
}

.labels {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 418px;
}

.copyright {
  @include textWhite2;

  @media (max-width: 425px) {
    margin-top: 8px;
    text-align: center;
  }
}
