@import '../../styles/variables';

.root {
  margin-top: $margin-section;
  min-height: 280px;
  background: $background-radial-black;

  h1 {
    @include titleWhite1;
    padding-top: 48px;
    text-align: center;
    margin-bottom: 32px;
  }

  .button {
    max-width: 308px;
    height: 56px;
    margin: 0 auto;
  }

  p {
    margin-top: 16px;
    text-align: center;
    @include textWhite1;
  }

  span {
    color: $color-orange;
    cursor: pointer;
  }
}
