@import '../../styles/variables';

.root {
  margin-top: 64px;
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;

  @media (max-width: 425px) {
    & {
      flex-direction: column;
      gap: 16px;
    }
  }

  .wrapper {
    max-width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 90px;
      height: 40px;
    }
  }

  p {
    text-align: start;
    font-family: $font-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
  }
}
