@import '../../styles/variables';

.root {
  img {
    width: 100%;
  }
}

.container {
  margin: $margin-section 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: $margin-section;
}

.containerText {
  max-width: 816px;
}

.title {
  @include title1;
  color: $color-text-black;
}

.text {
  margin-top: 32px;
  @include text2;
  color: $text-color-description;
}
